.header {
  background-color: #dddddd;
  margin-top: 0px;
  padding: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2)
}

#title {
  font-size: 22px;
  font-weight: 300;
}

#utCode {
  font-size: 14px;
  font-weight: 100;
}

.buttonBlack{
  background-color: black;
  color: white;
  border: 1px solid black;
  width: auto;
  min-width: 90px;
  height: 30px;
}

.buttonWhite{
  background-color: white;
  color: black;
  border: 1px solid black;
  width: auto;
  min-width: 90px;
  height: 30px;
}

#convertButton {
  display: block;
  margin: 20px auto;
  width: 90px;
  height: 30px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.isPlainButtons, .isEnglishButtons {
  display: flex;
  justify-self: end;
  margin-top: 10px;
  margin-right: 20px;
}

.inputBoxes, .copyButtons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 360px));
  padding-inline: 20px;
  column-gap: 40px;
  justify-content: center;
  margin-top: 20px;
}

#inputBoxPlain, #inputBoxBraille {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
}

.copyButtons button {
  justify-self: start;
}

.brailleInputButtonsRow {
  display: flex;
  justify-content: center;
}

.brailleInputButtons {
  margin-top: 20px;
}

.brailleInputButtons button {
  width: 40px;
  height: 20px;
  font-size: 16px;
  margin: 1px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.brailleInputButtons button:hover {
  background-color: #efefef;
}

.plainCopyButton, .brailleCopyButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: auto;
  min-width: 90px;
  height: 30px;
}

.plainCopyButton:hover, .brailleCopyButton:hover {
  background-color: #efefef;
}

hr {
  width: 95%;
}

.appDetail, .brailleDetail {
  margin: 20px;
}

.footer {
  color: #707070;
  background-color: #dddddd;
  margin-bottom: 0px;
  padding: 5px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  text-align: center;
}
